.experience-cards-div {
  display: grid;
  grid-template-columns: 1fr; /* Di default, una card per riga */
  gap: 1rem;
}
.project-title {
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 35px;
}

/* Affianca 2 card a partire da 1200px */
@media (min-width: 1200px) {
  .experience-cards-div {
    grid-template-columns: repeat(2, 1fr); /* 2 card affiancate su schermi grandi */
  }
  .project-title {
    font-size: 40px;
  }
}

/* Affianca 2 card anche su schermi medi, come 768px fino a 1199px */
@media (min-width: 768px) and (max-width: 1199px) {
  .experience-cards-div {
    grid-template-columns: repeat(2, 1fr); /* 2 card anche su schermi medi */
  }
  .project-title {
    font-size: 40px;
  }
}

/* Su schermi piccoli (meno di 768px), torna a 1 card per riga */
@media (max-width: 767px) {
  .project-title {
    text-align: center;
    font-size: 30px;
  }
  .experience-cards-div {
    grid-template-columns: 1fr; /* 1 card per riga su schermi piccoli */
  }
}

.experience-heading {
  font-size: 56px;
  font-weight: 400;
}

.experience-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.experience-container > * {
  flex: 1;
}

/* Media Query */

@media (max-width: 1380px) {
  .experience-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .experience-heading {
    font-size: 30px;
    text-align: center;
  }
}
